<!DOCTYPE html>
<!--Page to view users friends-->
<html>
	<head>
		<!-- Bootstrap -->
		{% include "bootstrap.html" %}
		{% load static %}
		<!--Main CSS file not used because of errors with banner-->
		<style>
			img {width: 1000px; height:auto;}
			body {padding: 30px; margin: auto;}
			.btn-primary {background-color: #87ae73; border-color: #87ae73}
			.btn-primary:hover {background-color: #689053; border-color: #689053}
			.center {display: block; margin-left: auto; margin-right: auto; width: 80%}
		</style>
		<img class=center src ="{% static 'banner2.jpg' %}" alt="Books-for-you Banner">
	</head>
	<body>
		{% include "navigation.html" %}
		<hr>
		<h4>Friends List</h4>
		<hr>
		<table class='table table-bordered'>
			{% for friend in friends %}
			<tr>
					<td> {{friend}} </td>
					<td> <a href='/friend_profile/{{friend.id}}'> <button class='btn btn-primary'> View Profile </button> </a> </td>
					<td> <a href='/remove_friend/{{friend.id}}'> <button class='btn btn-danger'> Remove Friend </button> </a> </td>
			</tr>
			{% endfor %}
		</table>
		<a href='find_friend'>
      <button class="btn btn-primary"> Add Friend </button>
    </a>
	</body>
</html>
