<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/ "> Recomendations </a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/view_favorites">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friends">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/FAQ">FAQs</a>
      </li>
      {% if user.is_superuser %}
      <li>
        <a class="nav-link" href='view_feedback'>User Feedback</a>
      </li>
      <li>
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
        <li>
          <a class="nav-link" href="/logout">Logout ({{user.username}})</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="/login">Login</a>
        </li>
      {% endif %}
  </div>
</nav>
