<!DOCTYPE html>
<!--Page displays more information users may need-->
<html>
	<head>
		{% include "bootstrap.html" %}
		{% load static %}
		<!--Main CSS file not used because of errors with banner-->
		<style>
			img {width: 1000px; height:auto;}
			body {padding: 30px; margin: auto;}
			.btn-primary {background-color: #87ae73; border-color: #87ae73}
			.btn-primary:hover {background-color: #689053; border-color: #689053}
			.center {display: block; margin-left: auto; margin-right: auto; width: 80%}
			.tab {display: inline-block; margin-left: 40px}
		</style>
    <img class=center src ="{% static 'banner2.jpg' %}" alt="Books-for-you Banner">
	</head>
	<body>
		{% include "navigation.html" %}
		<hr>
		<h4>Frequently Asked Questions</h4>
		<hr>
		<b> What are Tropes? </b>
		<p> Tropes otherwise known as Cliches are common or overused themes or devices. One widely known example is the Chosen One trope where one character, usually the protagonist, is framed as the inevitable hero or antihero of the story, as a result of destiny, unique gifts, and/or special lineage. To learn more about the tropes listed on this site click <a href='tropes'>here</a>.</p>
		<b> What is a Genre? </b>
		<p> In this context a Genre is a literary composition characterized by a particular style, form, or content</p>
		<hr>
		<a href='feedback'>
      <button class="btn btn-primary"> Give Feedback </button>
    </a>
		<hr>
		<font size=-1>
			<p>“Trope.” Merriam-Webster.com Dictionary, Merriam-Webster, https://www.merriam-webster.com/dictionary/trope. Accessed 21 Mar. 2023.</p>
			<p>“Genre.” Merriam-Webster.com Dictionary, Merriam-Webster, https://www.merriam-webster.com/dictionary/genre. Accessed 21 Mar. 2023.</p>
		</font>
	</body>
</html>
