<!DOCTYPE html>
<html>
  <head>
    {% include "bootstrap.html" %}
		{% load static %}
    <style>
			img {width: 1000px; height:auto;}
      .btn-primary {background-color: #87ae73; border-color: #87ae73}
			.btn-primary:hover {background-color: #689053; border-color: #689053}
			.center {display: block; margin-left: auto; margin-right: auto; width: 80%}
		</style>
    <img class=center src ="{% static 'banner2.jpg' %}" alt="Books-for-you Banner">
  </head>
  <body>
    {% include "navigation.html" %}
    <div class="container">
      <div class = "jumbotron">
        <h1>Feedback</h1>
        <form method="POST">
          {% csrf_token %}
          <table>
            {{ feedback_form.as_table }}
          </table>
          <table>
            <tr><td></td></tr>
            <tr>
              <td>
                <a href="/ " class="btn btn-secondary">Cancel</a>
              </td>
              <td>
                <form method="POST">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-primary" value = "Submit Feedback"/>
                </form>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
