<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap -->
		{% include "bootstrap.html" %}
		{% load static %}
		<style>
			img {width: 1000px; height:auto;}
			body {padding: 30px; margin: auto;}
			.btn-primary {background-color: #87ae73; border-color: #87ae73}
			.btn-primary:hover {background-color: #689053; border-color: #689053}
			.center {display: block; margin-left: auto; margin-right: auto; width: 80%}
		</style>
		<img class=center src ="{% static 'banner2.jpg' %}" alt="Books-for-you Banner">
	</head>
	<body>
		{% include "navigation.html" %}
		<hr>
		<h4>User Feedback</h4>
		<hr>
		<table class='table table-bordered'>
      <tr><th>User</th><th>Subject</th><th>Email</th><th>Feedback</th></tr>
      {% for feedback in feedbacks %}
			<tr>
					<td> {{feedback.user}}
					<td> {{feedback.subject}} </td>
					<td> {{feedback.email}} </td>
          <td> {{feedback.feedback}} </td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
